# Necessary packages
numpy>=1.19.0
scipy>=1.6.0
scikit-learn>=0.24.0

# Required for GPU training/inference
torch>=1.7.0

# Required for auto hyper parameter tuning
optuna>=2.3.0

# Required for feature importance calculation
shap>=0.37.0

# Required only for sample code
docopt>=0.6.0
